<form action="/signin" method="POST">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />

    <button>Submit</button>
</form>