<header>
    <h1>Sign up to create an account</h1>
</header>

{{> flashMessage}}

<form class="sign-form" action="/signup" method="POST">
    <label for="fullname">Full name</label>
    <input class="sign-input" type="text" name="fullname" id="fullname" required />

    <label class="sign-label" for="username">Username</label>
    <input class="sign-input" type="text" name="username" id="username" required />

    <label class="sign-label" for="email">E-mail</label>
    <input class="sign-input" type="email" name="email" id="email" required />

    <label class="sign-label" for="password">Password</label>
    <input class="sign-input" type="password" name="password" id="password" required />

    <button class="sign-btn">Sign up</button>
</form>