<header>
    <h1>Sign in to access your account</h1>
</header>

{{> flashMessage}}

<form action="/signin" method="POST">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" placeholder="user@email.com" />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="••••••" />

    <button>Sign in</button>
</form>