<header>
    <h1>Sign in to access your account</h1>
</header>

{{> flashMessage}}

<form class="sign-form" action="/signin" method="POST">

    <label class="sign-label" for="email">E-mail</label>
    <input class="sign-input" type="email" name="email" id="email" placeholder="user@email.com" />

    <label class="sign-label" for="password">Password</label>
    <input class="sign-input" type="password" name="password" id="password" placeholder="••••••" />

    <button class="sign-btn">Sign in</button>
</form>