<nav>
    <a href="/" class="to-left">Home</a>
    <a href="/views/arrondissement.hbs" class="to-left">Arrondissements</a>
    <a href="" class="to-right">Sign in</a>
    <a href="" class="to-right">Sign Out</a>
    <a href="" class="to-right">Log Out</a>
</nav>