<nav>
    <a href="/" class="to-left">Home</a>
    <a href="/arrond" class="to-left">Arrondissements</a>
    <a href="/signin" class="to-right">Sign In</a>
    <a href="/signup" class="to-right">Sign Up</a>
    <a href="/signout" class="to-right">Sign Out</a>
    <a href="profile" class="to-right">Profile</a>
</nav>