<h1>Upload a discovery</h1>

<form action='/create' method='post' class='form'>
<label for='title' class='label'>Title:</label>
<input id='title' name='title' type='text'/>

<label for='image' class='label'>Image:</label>
<input id='image' name='image' type='file'/>

<label for='category' class='label'>Category:</label>
<select name='category'>
    <option value='museum'>Museum</option>
    <option value='exhibition'>Exhibition</option>
    <option value='street-art'>Street art</option>
    <option value='public-space'>Public space</option>
</select>

<label for='location' class='label'>Location:</label>
<input id='location' name='location' type='text'/>

<label for='arrond' class='label'>Arrondissement:</label>
<select name='category'>
    <option value='1'>1st</option>
    <option value='2'>2nd</option>
    <option value='3'>3rd</option>
    <option value='4'>4th</option>
    <option value='5'>5th</option>
    <option value='6'>6th</option>
    <option value='7'>7th</option>
    <option value='8'>8th</option>
    <option value='9'>9th</option>
    <option value='10'>10th</option>
    <option value='11'>11th</option>
    <option value='12'>12th</option>
    <option value='13'>13th</option>
    <option value='14'>14th</option>
    <option value='15'>15th</option>
    <option value='16'>16th</option>
    <option value='17'>17th</option>
    <option value='18'>18th</option>
    <option value='19'>19th</option>
    <option value='20'>20th</option>
</select>

<label for='websiteUrl' class='label'>Website:</label>
<input id='websiteUrl' name='websiteUrl' type='text'/>

<label for='comments' class='label'>Comments:</label>
<input id='comments' name='comments' type='text'/>

<button>Upload!</button>
</form>