<h1>Add a discovery</h1>

<form class="add-form" action='/profile/create' method='post' class='form' enctype="multipart/form-data">
    <label for='title' class='label'>Title:</label>
    <input class='add-input' id='title' name='title' type='text' />

    <label for='image' class='add-label'>Image:</label>
    <input class='add-input' id='image' name='image' type='file' />

    <label for='dateStart' class='add-label'>Start date:</label>
    <input class='add-input' id='dateStart' name='dateStart' type='date' min='2022-01-21'/>

    <label for='dateEnd' class='add-label'>End date:</label>
    <input class='add-input' id='dateEnd' name='dateEnd' type='date' min='2022-01-21'/>

    <label class='add-label' for='checkbox'>Permanent/ongoing</label>
    <input class='add-input' type='checkbox' id='permanent' name='permanent'>

    <label for='category' class='add-label'>Category:</label>
    <select name='category'>
        <option value='museums'>Museum</option>
        <option value='exhibitions'>Exhibition</option>
        <option value='street-art'>Street art</option>
        <option value='public-space'>Public space</option>
    </select>

    <label for='location' class='add-label'>Location:</label>
    <input class='add-input' id='location' name='location' type='text' />

    <label for='address' class='add-label'>Address:</label>
    <input class='add-input' id='address' name='address' type='text' />

    <label for='arrond' class='add-label'>Arrondissement:</label>
    <select name='arrond'>
        <option value='75001'>1st</option>
        <option value='75002'>2nd</option>
        <option value='75003'>3rd</option>
        <option value='75004'>4th</option>
        <option value='75005'>5th</option>
        <option value='75006'>6th</option>
        <option value='75007'>7th</option>
        <option value='75008'>8th</option>
        <option value='75009'>9th</option>
        <option value='75010'>10th</option>
        <option value='75011'>11th</option>
        <option value='75012'>12th</option>
        <option value='75013'>13th</option>
        <option value='75014'>14th</option>
        <option value='75015'>15th</option>
        <option value='75016'>16th</option>
        <option value='75017'>17th</option>
        <option value='75018'>18th</option>
        <option value='75019'>19th</option>
        <option value='75020'>20th</option>
    </select>

    <label for='websiteUrl' class='add-label'>Website:</label>
    <input class='add-input' id='websiteUrl' name='websiteUrl' type='text' />

    <label for='description' class='add-label'>Description:</label>
    <input class='add-input' id='description' name='description' type='textarea' />

    <button class='add-btn'>Submit</button>
</form>