<h1>Welcome to your profile {{currentUser.username}}!</h1>

<section>
    <a href="/profile/create" class='auth'>Add a discovery</a>
    <a href="/profile/uploads" class='auth'>Your uploads</a>
    <a ref="/profile/favorites" class='auth'>Your favorites</a>
</section>