<h1>Welcome to your profile page</h1>

<section>
    <a href="/profile/create">Upload a discovery</a>
    <a href="/profile/uploads">Your uploads</a>
    <a href="/profile/favorites">Your favorites</a>
</section>