<h1>See all the expositions in Paris</h1>

<p>ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex tempore commodi eaque non, minus vero qui
    repudiandae amet, ratione ut rem suscipit soluta nemo neque fugiat! Doloribus error vitae a!</p>

{{#each expos}}
{{fields.title}}
{{fields.lead_text}}
{{/each}}