<h1>{{title}}</h1>
<h2>Discover art by arrondissement:</h2>

<div class='arronds'>
<a href='/arrond/1st'>1</a>
<a href='/arrond/2nd'>2</a>
<a href='/arrond/3rd'>3</a>
<a href='/arrond/4th'>4</a>
<a href='/arrond/5th'>5</a>
<a href='/arrond/6th'>6</a>
<a href='/arrond/7th'>7</a>
<a href='/arrond/8th'>8</a>
<a href='/arrond/9th'>9</a>
<a href='/arrond/10th'>10</a>
<a href='/arrond/11th'>11</a>
<a href='/arrond/12th'>12</a>
<a href='/arrond/13th'>13</a>
<a href='/arrond/14th'>14</a>
<a href='/arrond/15th'>15</a>
<a href='/arrond/16th'>16</a>
<a href='/arrond/17th'>17</a>
<a href='/arrond/18th'>18</a>
<a href='/arrond/19th'>19</a>
<a href='/arrond/20th'>20</a>
</div>


<p class='tag-p'>Or explore by tags: </p>
<div class='cat-tags'>
<a href='/museum'>museum</a>
<a href='/exhibition'>exhibition</a>
<a href='/street-art'>street-art</a>
<a href='/public-space'>public-space</a>
</div>