<h1>art app</h1>
<h2>Discover art by arrondissement:</h2>

<div class='arronds'>
    <a href='/arrond/75001'>1</a>
    <a href='/arrond/75002'>2</a>
    <a href='/arrond/75003'>3</a>
    <a href='/arrond/75004'>4</a>
    <a href='/arrond/75005'>5</a>
    <a href='/arrond/75006'>6</a>
    <a href='/arrond/75007'>7</a>
    <a href='/arrond/75008'>8</a>
    <a href='/arrond/75009'>9</a>
    <a href='/arrond/75010'>10</a>
    <a href='/arrond/75011'>11</a>
    <a href='/arrond/75012'>12</a>
    <a href='/arrond/75013'>13</a>
    <a href='/arrond/75014'>14</a>
    <a href='/arrond/75015'>15</a>
    <a href='/arrond/75016'>16</a>
    <a href='/arrond/75017'>17</a>
    <a href='/arrond/75018'>18</a>
    <a href='/arrond/75019'>19</a>
    <a href='/arrond/75020'>20</a>
</div>


<p class='tag-p'>Or explore by tags: </p>
<div class='cat-tags'>
    <a href='/category/museum'>museum</a>
    <a href='/category/exhibition'>exhibition</a>
    <a href='/category/street-art'>street-art</a>
    <a href='/category/public-space'>public-space</a>
</div>