<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{#each scripts}}
  <script src="/scripts/{{this}}" type="module"></script>
  {{/each}}

</head>
<header>
  {{> navbar}}
</header>

<body>


  {{{body}}}
</body>

</html>