body {
    padding: 50px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .wholepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw
  }
  
  .to-right {
    margin: 10px
  }
  
  
  nav a {
    color:rgb(153, 67, 110);
    text-decoration: none;
    font-size: 16px;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px
  }
  
  nav a:hover {
    border: 1px rgb(32, 32, 32) solid
  }
  
  .left-nav {
    display: flex;
    flex-direction: row;
  }

  .cat-tags {
    margin-left: 20px
  }
  

  h1, h2 {
    color:#556052
  }
 
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  

  .card {
    border: #CBBCB1 2px solid;
    color:#556052;
    border-radius: 5%;
    margin: 18px;
    padding: 5px;
    width: 25vw;
    height: 26vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  .card img {
    max-width: 24vw;
    max-height: 21vw;
    border-radius: 5%;
  }


  .card a {
    color:#556052;
    text-decoration: none;
    border: #CBBCB1 2px solid;
    border-radius: 50px;
    padding: 5px;
    width: 9vw;
    margin: auto;
    font-size: 14px;
  }
  
  .card a:hover {
    border: 1px rgb(83, 3, 23) solid;
    background-color: #AF6B58;
    font-weight: bold;
    font-size: 15px
  }

  .cat-tags a {
    color:rgb(67, 90, 153);
    text-decoration: none;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    width: 7vw;
    margin: 10px
  }
  
  .cat-tags a:hover {
    border: 1px rgb(87, 86, 86) solid;
  }

