body {
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  
  .wholepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw
  }
  
  .to-right {
    margin: 10px
  }
  
  
  nav a {
    color:rgb(153, 67, 110);
    text-decoration: none;
    font-size: 16px;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px
  }
  
  nav a:hover {
    border: 1px rgb(32, 32, 32) solid
  }
  
  .left-nav {
    display: flex;
    flex-direction: row;
  }

  h1, h2 {
    color:#2E4C6D
  }
 
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  

  .card {
    background-color: rgb(250, 250, 250);
    color:#2E4C6D;
    margin: 18px;
    padding: 5px;
    width: 25vw;
    height: 26vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .card img {
    max-width: 24vw;
    max-height: 16vw;
    margin: 5px
  }
  
  
  .info {
    color:#2E4C6D;
    border: #2E4C6D 1px solid;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px;
    width: 9vw;
    margin: 5px;
    font-size: 14px;
  }
  
  .info:hover {
    border: 1px #B61919 solid;
    background-color: #FDD2BF;
  }

  


