* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font: 14px;
  background-color: rgb(210, 222, 231);
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 140, 80);
}

.left-nav {
  display: flex;
  flex-direction: row;
}

.to-right {
  margin-right: 30px;
}

a {
  color: #212925;
}

a:hover {
  color: #222844;
}

.nav-link:focus,
.nav-link:hover {
  color: #222844;
  border: 1px rgb(32, 32, 32) solid;
  border-radius: 2px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #212925;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.form-inline {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  width: 40%;
  margin: auto;
  gap: 10px;
}

.btn-outline-success {
  float: right;
  color: #212925;
  border-color: #212925;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #222844;
  border-color: #222844;
}

.container {
  display: flex;
  flex-direction: row;
}

.card-container {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 40px;
  color: #2e4c6d;
}

h2 {
  color: rgb(175, 60, 7);
  font-size: 18px;
  text-align: left;
}

.sign-btn,
.add-btn {
  color: #2e4c6d;
  border: #2e4c6d 2px solid;
  text-decoration: none;
  border-radius: 50px;
  padding: 5px;
  width: 9vw;
  margin: auto;
}

.sign-btn:hover {
  border: #2e4c6d 2px solid;
  background-color: #ee875b;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.arronds {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 280px;
}

.wholepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1,
h2 {
  color: #2e4c6d;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(210, 222, 231);
  color: #2e4c6d;
  margin: 18px;
  padding: 5px;
  width: 25vw;
  height: 26vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card img {
  max-width: 24vw;
  max-height: 16vw;
  margin: 5px;
}

.info {
  color: #2e4c6d;
  border: #2e4c6d 1px solid;
  text-decoration: none;
  border-radius: 50px;
  padding: 5px;
  width: 9vw;
  margin: 5px;
  font-size: 14px;
}

.info:hover {
  border: 1px #b61919 solid;
  background-color: #fdd2bf;
}

.sign-form,
.add-form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  gap: 10px;
  border: none;
  padding: 20px;
}

.sign-label,
.add-label {
  color: rgb(3, 2, 51);
}

.sign-input,
.add-input {
  color: rgb(15, 49, 112);
  margin-bottom: 10px;
  background-color: rgb(210, 222, 231);
  border: 1px solid #2e4c6d;
  overflow: auto;
}

#description {
  height: 100px;
  overflow: auto;
}
