body {
    padding: 50px;
    font: 14px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .cat-tags {
      display: none
  }
  
  nav {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 3vw
  }
  
  .to-right {
    margin: 10px
  }
  
  h1 {
    margin: 40px;
    color: #2E4C6D;
  }

  h2 {
    color:rgb(175, 60, 7);
    font-size: 18px;
    text-align: left;
  }
  
  nav a {
    color:rgb(153, 67, 110);
    text-decoration: none;
    font-size: 16px;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px
  }
  
  nav a:hover {
    border: 1px rgb(32, 32, 32) solid;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: auto;
    gap: 10px;
    border: none;
    padding: 20px;
  }
  
  label {
    color:rgb(3, 2, 51)
  }

  input {
      color:rgb(15, 49, 112);
      margin-bottom: 10px;
      background-color: rgb(250, 250, 250);
      border: 1px solid #2E4C6D
  }
  

  button {
    color:#2E4C6D;
    border: #2E4C6D 2px solid;
    text-decoration: none;
    border-radius: 50px;
    padding: 5px;
    width: 9vw;
    margin: auto;
  }
  
  button:hover {
    border: 2px #B61919 solid;
    background-color: #FDD2BF;
  }

  .auth a {
    color:rgb(67, 90, 153);
    text-decoration: none;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    margin: 10px;
  }
  
  .auth a:hover {
    border: 1px rgb(87, 86, 86) solid;
  }


  .card {
    background-color: rgb(184, 17, 67);
    color: whitesmoke;
    border-radius: 5%;
    margin: 18px;
    padding: 5px;
    width: 20vw;
    height: 25vw;
    font-size: 14px;
    font-weight: lighter;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  
  .card img {
    max-width: 19vw;
    margin: 5px;
    border-radius: 5%;
    max-height: 13vw;
  }


  .card a {
    color: whitesmoke;
    font-size: 14px;
    text-decoration: none;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px;
    width: 9vw;
    margin: auto
  }
  
  .card a:hover {
    border: 1px rgb(83, 3, 23) solid;
  }


  
  .crud a {
    color:rgb(67, 90, 153);
    text-decoration: none;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px;
    font-size: 15px;
    margin: 10px
  }
  
  .crud a:hover {
    border: 1px rgb(87, 86, 86) solid;
  }


.add-fav-btns a {
  color:rgb(67, 90, 153);
  text-decoration: none;
  border: 1px rgb(187, 186, 186) solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  margin-right: 40px
}

.add-fav-btns a:hover {
  border: 1px rgb(87, 86, 86) solid;
}

.welcome {
  display: flex;
  flex-direction: column;
}