body {
    padding: 50px;
    font: 14px;
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .cat-tags {
      display: none
  }
  
  nav {
    display: flex;
    justify-content: space-between;  
  }
  
  .to-right {
    margin: 10px
  }
  
  h1 {
    color:#556052;
    margin-bottom: 40px
  }

  h2 {
    color:rgb(175, 60, 7);
    font-size: 18px;
    text-align: left;
  }
  
  nav a {
    color:rgb(153, 67, 110);
    text-decoration: none;
    font-size: 16px;
    border: 1px rgb(187, 186, 186) solid;
    border-radius: 50px;
    padding: 10px
  }
  
  nav a:hover {
    border: 1px rgb(32, 32, 32) solid;
  }
  

  .button {
    color:rgb(67, 90, 153);
    size: 100px;
    text-decoration: none;
    margin: 10px;
  }
  


.add-fav-btns a {
  color:rgb(67, 90, 153);
  text-decoration: none;
  border: 1px rgb(187, 186, 186) solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  margin-right: 40px
}

.add-fav-btns a:hover {
  border: 1px rgb(87, 86, 86) solid;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-buttons {
  display: flex
}

.card {
  border: #CBBCB1 2px solid;
  color:#556052;
  border-radius: 5%;
  margin: 18px;
  padding: 5px;
  width: 25vw;
  height: 26vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.card img {
  max-width: 24vw;
  max-height: 21vw;
  border-radius: 5%;
}


.card a {
  color:#556052;
  text-decoration: none;
  border: #CBBCB1 2px solid;
  border-radius: 50px;
  padding: 5px;
  width: 9vw;
  margin: auto;
  font-size: 14px;
}

.card a:hover {
  border: 1px rgb(83, 3, 23) solid;
  background-color: #AF6B58;
  font-weight: bold;
  font-size: 15px
}
  
  .card a:hover {
    border: 1px rgb(83, 3, 23) solid;
  }


  