*{
  border: 0;
  padding: 0;
  margin: 0;
  }

body {
  font: 14px;
  background-color: rgb(210, 222, 231);
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;

}


nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 140, 80);
}

.left-nav {
  display: flex;
  flex-direction: row;
}

.to-right {
  margin: 10px
}

a {
  color: #212925
}

a:hover {
  color: #222844;
}

.nav-link:focus, .nav-link:hover {
  color: #222844;
  border: 1px rgb(32, 32, 32) solid;
  border-radius: 2px;
  
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #212925;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.form-inline {
  display: flex;
flex-direction: row;
padding-left: 5px;
  width: 40%;
}

.btn-outline-success {
  float: right;
  color: #212925;
  border-color: #212925;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #222844;
  border-color: #222844;
}






h2 {
  color:#2E4C6D;
  text-align: center;
  font-size: 24px
}

.container {
  display: flex;
  flex-wrap: wrap;
}


.onecard {
  color: #012443;
  margin: auto;
  width: 60vw;
  height: 45vw;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.onecard p {
  margin: 10px
}

.onecard img {
  max-width: 38vw;
  margin: 10px;
  max-height: 25vw
}

.one-card-btn {
  color:rgb(67, 90, 153);
  text-decoration: none;
  border: 1px rgb(187, 186, 186) solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
}


.one-card-btn:hover {
  border: 1px #B61919 solid;
  background-color: #FDD2BF;  
}




form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  gap: 10px;
  border: none;
  padding: 20px;
}

label {
  color:rgb(3, 2, 51)
}

input {
    color:rgb(15, 49, 112);
    margin-bottom: 10px;
    background-color: rgb(210, 222, 231);
    border: 1px solid #2E4C6D;
    overflow: auto
}

#description  {
  height: 100px;
  overflow: auto
}