

*{
  border: 0;
  padding: 0;
  margin: 0;
  }

body {
  font: 14px;
  background-color: #FAFF97;
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;

}


nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #b0dbff;
}

.homepagebody {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}



.left-nav {
  display: flex;
  flex-direction: row;
}

.to-right {
  margin-right: 30px
}

a {
  color: #212925
}

a:hover {
  color: #222844;
}

.nav-link:focus, .nav-link:hover {
  color: #222844;
  border: 1px rgb(32, 32, 32) solid;
  border-radius: 2px;
  
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #212925;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.form-inline {
  display: flex;
flex-direction: row;
padding-left: 5px;
  width: 40%;
}

.btn-outline-success {
  float: right;
  color: #212925;
  border-color: #212925;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #222844;
  border-color: #222844;
}

.arronds {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  margin: 0px 280px

}


.container {
  display: flex;
  flex-wrap: wrap;
}


.cat-tags {
  margin-left: 20px
}

.card {
  background-color: rgb(184, 17, 67);
  color: whitesmoke;
  border: rgb(236, 201, 188) 2px solid;
  border-radius: 5%;
  margin: 18px;
  width: 20vw;
  height: 26vw;
  font-size: 15px;
  box-sizing: border-box;

}

.card img {
  width: 19vw;
  margin: 5px;
  border-radius: 5%;
}

.card a {
  color: whitesmoke;
  font-size: 14px;
  text-decoration: none;
  border: 1px rgb(187, 186, 186) solid;
  border-radius: 50px;
  padding: 10px
}

.card a:hover {
  border: 1px rgb(83, 3, 23) solid;
}


.onecard {
  background-color: rgb(184, 106, 17);
  color: whitesmoke;
  border: rgb(236, 201, 188) 2px solid;
  border-radius: 5%;
  margin: auto;
  width: 35vw;
  height: 40vw;
  font-size: 16px;
  box-sizing: border-box;
}

.onecard img {
  width: 34vw;
  margin: 5px;
  border-radius: 5%;

}


form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: auto;
  gap: 10px
}

label {
  color:rgb(3, 2, 51)
}

button {
  color:rgb(153, 67, 110);
  text-decoration: none;
  border: 1px rgb(187, 186, 186) solid;
  border-radius: 50px;
  padding: 10px;
  font-size: 15px;
  width: 7vw;
  margin: auto
}

button:hover {
  border: 1px rgb(87, 86, 86) solid;
}
